<div class="container">
  <div class="container-right">
    <p>KOUISINE</p>
    <p>La place de la ... c'est a la Kouisine</p>
    <div class="recette-du-jour">
      <div class="img-recette">
        <img src="" alt="">
      </div>
      <div class="ingredients">
        <h3>INGREDIENTS</h3>
        <ul>
          <li>ingredient1</li>
          <li>ingredient2</li>
          <li>ingredient3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-left">

  </div>

</div>
